* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}
button,
textarea {
    outline: none;
    border: 1px solid #aaa;
    padding: 5px;
}

body {
    position: relative;
}

.container {
    /* position: relative; */
    width: 100%;
    max-width: 1200px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #107abb;
    gap: 20px;
}

.column {
    background-color: #dee2e5;
    width: calc((100% - 20px * 2) / 3);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.column-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.column-content h2 {
    text-transform: uppercase;
}
.cards-list {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}

.cart {
    width: 100%;
    background-color: white;
    position: relative;
    padding: 10px 5px;
    cursor: grab;
}

.card_delete {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 1px;
    right: 1px;
    line-height: 1.5;
    background-color: #eaedef;
    text-align: center;
    cursor: pointer;
    display: none;
    z-index: 100;
}

.form-box {
    width: 100%;    
}

.btn-form-visible {
    display: none;
    cursor: pointer;
}

.form-field {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.form-btn-box button:nth-child(1) {
    width: 100px;
    background-color: lightseagreen;
}

.form-btn-box button:nth-child(2) {
    width: 40px;
    background-color: PaleVioletRed;
}

.active {
    display: block;
}

.form-field.active {
    display: flex;
}

.dragged {
    position: absolute;
    pointer-events: none;
    z-index: 100;
    cursor: move;
    
}

.fantom {
    width: 100%;
    position: relative;
    border: 1px solid #aaa;
    opacity: 0.7;
}